window {
    background-image: url( "file://@picture@" );
    background-size: cover;
    background-position: center;
    font-family: monospace;
    letter-spacing: 0.1em;
}

box #body {
    padding: 5em;
}

box #clock {
    color: white;
}

box > label {
    color: white;
}
