main a[href^="http"]:where( :not([href*="cider.418.im/"]) )::after {
    opacity: 60%;
    content: "⬈";
}

figure {
    text-align: center;
    font-size: smaller;
    font-style: italic;
    color: #838383; /* Nice grey */
}

figure > figcaption {
    opacity: 0.85;
}
